/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

main { 
  margin: 0 auto;
    
  display: grid;
  grid-template-columns: 1fr;
}

.cast {  
  display: flex;
  flex-wrap: wrap;
}

/* Media Queries */
/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: cyan;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: pink;
       content: "Tablet Size";
  } 
    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellowgreen;
       content: "Wide Desktop Size";
  }

}