/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/


@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

body {
  background-image: url("/imgs/background2.jpg");
  background-size: cover;
}

main {
  margin: 30px 100px 30px 100px;
  display: grid;
  grid-template-columns: 1fr;
}
header {
  margin: auto;
}
h1 {
  font-family: 'Sniglet', cursive;
  font-size: 7em;
  color: black;
  text-align: center;
}

blockquote {
  font-family: 'Sniglet', cursive;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Sniglet', cursive;
  font-size: 1.25em;
}


.plyr--full-ui input[type="range"] {
  color: #F7B626;
}

.plyr__time {
  font-size: 15px;
}

.plyr button {
  color: #F7B626;
}

.cast {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  height: 300px;
  width: 200px;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  
}

ul {
  list-style-type: none;
}

a {
  color: #CD0000;
  font-family: 'Sniglet', cursive;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}


/* Media Queries */
/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  } 
    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}